// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  background: transparent !important;
}

.form-control {
  border-style: none none solid none;
  outline-style: none !important;
  box-shadow: none !important;
}

.btn {
  border-radius: 0px !important;
}

.card {
  border-radius: 0px !important;
}

body {
  background-color: transparent !important;
}

//diagnosis card
.diagnosis_card {
  font-family: Roboto !important;

  p {
    font-size: 16px !important;
  }
}